{% extends "iris_layout.tmplt" %}

{% block title %}Community{% endblock %}

{% block content %}
    <div id="bd">
            <h1>Community</h1>
            <h2>Blog</h2>
            Follow the Developers on the <a href="http://blog.scitools.org.uk/" target="_blank" name="Scitools blog">Scitools blog</a> to hear news on current activity.
            <h2>Forums</h2>
            <p>Two forums have been created in Google groups. The first is for general discussion and asking questions on how to use Iris. 
            The second is for people interested in the development of or in contributing to the library.</p>
            <p>The forums are publicly visible and you do not need a Google account to read or search the posts.</p>
            <p>To take part in one or both of the forums please use your Google account or sign up for one and
            then request to join following the links below.</p>
            <p></p>
            <p><a href="https://groups.google.com/d/forum/scitools-iris" name="Iris">Iris Users</a></p> 
            <p></p>
            <p><a href="https://groups.google.com/d/forum/scitools-iris-dev" name="Iris_Developers">Iris Developers</a></p>
            <p></P.
            <p>For help on using Google groups and participating in the forums above please reference 
            the <a href="http://support.google.com/groups/?hl=en" name="Google groups support guide">Google group support guide</a></p>
            <p></p>
        </div> 

{% endblock %}