{% extends "iris_layout.tmplt" %}

{% block title %}Documentation{% endblock %}

{% block content %}
    <div id="bd">
          <h1>Documentation</h1>
          <p>Documentation for each Iris release can be found below. The documentation contains install instructions, an in-depth userguide, a gallery of examples (with code) and a detailed set of reference documentation.</p>  
          <h2>Latest</h2>
            <ul>
                <li><a href="docs/latest/index.html">v1.8.0</a></li>
            </ul>

          <h2>Pre-Release</h2>
            <ul>
                <li><a href="docs/dev/index.html">v1.8.1rc1</a></li>
            </ul>

          <h2>Previous releases</h2>
            <ul>
                <li><a href="docs/v1.7.3/index.html">v1.7.3</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.7.2/index.html">v1.7.2</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.7/index.html">v1.7</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.6/index.html">v1.6</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.5/index.html">v1.5</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.4/index.html">v1.4</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.3/index.html">v1.3</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.2/index.html">v1.2</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.1/index.html">v1.1</a></li>
            </ul>
            <ul>
                <li><a href="docs/v1.0/index.html">v1.0</a></li>
            </ul>
            <ul>
                <li><a href="docs/v0.9.1/index.html">v0.9.1</a></li>
            </ul>
        </div>

{% endblock %}
