{% extends "iris_layout.tmplt" %}

{% block title %}Iris Homepage{% endblock %}

{% block content %}
      <h1>A Python library for Meteorology and Climatology</h1>

      <p>The Iris library implements a data model to create a data abstraction
      layer which isolates analysis and visualisation code from data format
      specifics. The data model we have chosen is the CF Data Model. The
      implementation of this model we have called an Iris Cube.</p>

      <p>Iris currently supports read/write access to a range of data formats,
      including (CF-)netCDF, GRIB, and PP; fundamental data manipulation operations,
      such as arithmetic, interpolation, and statistics; and a range of integrated
      plotting options.</p>

      <p>Iris is published under an <a href="http://www.gnu.org/licenses/lgpl.html">LGPLv3</a> licence.</p>
      <div><img src="../images/lgplv3-88x31.png" width="88" height="31" alt="LPGLv3 logo" /></div>

{% endblock %}