{% extends "cartopy_layout.tmplt" %}

{% block title %}Code{% endblock %}

{% block content %}

     <div id="bd">
        <h1>Code</h1>
        <p>Cartopy is published as open-source software under an <a href="http://www.gnu.org/licenses/lgpl.html">LGPLv3 license</a>.</p>
        <h2 id="Gettingthecode">Getting the code</h2>
        <p>The Cartopy project uses <a href="http://git-scm.com/">git</a> and <a href="http://github.com/">github</a> for managing its code.</p>
        <p>Once you have git installed, enter the following command to obtain the most recent code from github:
        </p><pre class="code">git clone https://github.com/SciTools/cartopy.git</pre>
        <p>There are also official releases available from <a href="https://github.com/SciTools/cartopy/tags">here</a>.</p>
        <h2 id="Browsingthecodeonline">Browsing the code online</h2>
            <ul>
                <li><a href="https://github.com/SciTools/cartopy">Browse source</a>: See the full code via github's web interface.</li>
            </ul>
        <h2 id="Gettinginvolved">Getting involved</h2>
        <p>Please read the page on <a href="../../governance.html">governance</a>.</p>
    </div>

{% endblock %}