{% extends "cartopy_layout.tmplt" %}

{% block title %}Cartopy Homepage{% endblock %}

{% block content %}

     <h1>A library providing cartographic tools for python.</h1>

      <p>Some of the key features of cartopy are:</p>
      <ul>
      <li>object oriented projection definitions</li>
      <li>point, line, polygon and image transformations between projections</li>

      <li>integration to expose advanced mapping in matplotlib with a simple and intuitive interface</li>
      <li>powerful vector data handling by integrating shapefile reading with Shapely capabilities </li>
      </ul>
      <p>The latest release documentation for cartopy can be found at <a href="docs/latest/index.html">here</a>, for other versions see the <a href="documentation.html">documentation page</a>.</p>
      </br>
      <p>Cartopy is published under the <a href="http://www.gnu.org/licenses/lgpl.html">LGPLv3</a> licence.</p>

      <div><img src="../images/lgplv3-88x31.png" width="88" height="31" alt="LPGLv3 logo" /></div>

{% endblock %}