@font-face {
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   src: url('file:///D:/Dropbox/mobrise//fonts/Noto Sans/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans';
   font-style: regular;
   font-weight: 400;
   src: url('file:///D:/Dropbox/mobrise//fonts/Noto Sans/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans';
   font-style: italic;
   font-weight: 400;
   src: url('file:///D:/Dropbox/mobrise//fonts/Noto Sans/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans';
   font-style: italic;
   font-weight: 700;
   src: url('file:///D:/Dropbox/mobrise//fonts/Noto Sans/700italic.ttf') format('truetype');
}
