{% extends "layout.tmplt" %}

{% block title %}Page not found{% endblock %}

{% block content %}

      <div id="bd">
          <h1>Page not found</h1>
          <p> The page you were looking for has not been found</p>
          <script type="text/javascript">
  				var GOOG_FIXURL_LANG = 'en-GB';
  				var GOOG_FIXURL_SITE = 'http://www.scitools.org.uk'
			</script>
			<script type="text/javascript"
  				src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
			</script>
      </div>
{% endblock %}