{% extends "layout.tmplt" %}

{% block title %}SciTools Homepage{% endblock %}

{% block content %}
      <div id="bd">
          <p style="margin-top: 1.5em">Iris and Cartopy are open source Python libraries initially created by the Met Office to enable the visualisation of weather and climate data. Both libraries are actively developed in collaboration with the scientific community.</p>
          <div class="projects">
            <div class="project">
                <div class="logo"><a href="iris/index.html"><img src="images/Iris7_1_trim_100.png" style="height:100;" alt="Iris Logo" /></a></div>
                <div class="summary">
                    <p>
                        <a href="iris/index.html">Iris</a>
                        is a Python package for analysing and visualising meteorological and oceanographic data sets.
                        <br />
                        See the <a href="iris/docs/latest/index.html">latest documentation</a> for Iris.
                    </p>
                </div>
            </div>
            <div class="project">
                <div class="logo"><a href="cartopy/index.html"><img src="images/cartopy_small.png" style="height:100;" alt="Cartopy logo" /></a></div>
                <div class="summary">
                    <p>
                        <a href="cartopy/index.html">Cartopy</a>
                        is a Python package for advanced map generation with a simple matplotlib interface.
                        <br />
                        See the <a href="cartopy/docs/latest/index.html">latest documentation</a> for cartopy.
                    </p>
                </div>
            </div>
          </div>
      </div>
{% endblock %}
