{% extends "layout.tmplt" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
      <div id="bd">
          <h1>Privacy Policy</h1>
          <h2>V1.0</h2>
          <p>The Met Office takes the privacy of its customers very seriously. This privacy 
          policy explains how we use any personal information we collect about you when you 
          use this website  <a href="index.html">
          www.scitools.org.uk</a>. We also comply fully with the Data Protection 
          Act 1998 (the "Act").</p>
          <p>For the purposes of the Act, the data controller is the Met Office, FitzRoy Road, Exeter, 
          Devon, EX1 3PB.  The Met Office is an Executive Agency of the United Kingdom's Department 
          for Business, Innovations and Skills. The Met Office is registered under the 
          Data Protection Act 1998 (in the name of the Department for Business Innovation and Skills), Registration No. Z1839175.</p>
          
          <h2>Personal Information we collect about you</h2>
          <p>We may collect and process the following data about you:</p>
          <ul><li>Information that you provide by filling in the 
          <a href="documents/cla_form.pdf" target="_blank" 
          name="Contributor Licence Agreement">
          Contributor Licence Agreement form</a>.</li>
          <li>Information that you provide to us when you write to us (
          including by email and fax) or when we speak to you by telephone</li>
          </ul>
          
          <h2>How we may use information about you</h2>
          <p>We may use information about you in the following ways:</p>
          <ul><li>To carry out our obligations and enforce our rights arising 
          from any contracts entered into between you and us</li>
          <li>To process source code contributions.</li>
          <li>To contact you so you can review your stored personal details.</li>
          <li>To contact you regarding events about Scitools library development.</li>
          </ul>
          
          <p>We do not sell or rent out personal information to any other organisations.</p>
          
          <h2>Where we store and process your personal information</h2>
          <p>The Met Office is responsible for the processing of your personal information.</p>
          <p>We will take all steps reasonably necessary to ensure that your information is treated 
          securely and in accordance with this privacy policy.
          
          <p>Your personal information will not be transferred abroad, but your
          GitHub profile name will be published on the website so source code
          contributions can be processed by the Developers.</p>
          <p>CLA Administrators will have access to all your personal data. 
          This is to permit processing of the CLA and publication of your 
          GitHub profile name for the Developers.</p>
          
          <h2>Cookies</h2>
          <p>We do not collect cookies on this site.</p>
          
          <h2>Access to your information and correction</h2>
          <p>Access to personal information which we may hold about you can be 
          requested in writing to the Data Protection Officer at the address 
          below or by sending an email to dataprotection@metoffice.gov.uk. 
          We may require proof of identity in relation to any such request 
          and may also make a small charge for this service.</p>

          <p>Data Protection Officer<br>
          Met Office<br>
          FitzRoy Road<br>
          Exeter<br>
          Devon<br>
          EX1 3PB<br>
          United Kingdom<br>

          <p>We want to make sure that your personal information is accurate 
          and up to date. You may ask us to correct or remove information you 
          think is inaccurate.</p>

      </div>
{% endblock %}
