{% extends "layout.tmplt" %}

{% block title %}Other Tools{% endblock %}

{% block content %}
    <div id="bd">
        <p style="margin-top: 1.5em">
            Iris and Cartopy are open source Python libraries initially created by the Met Office to enable the visualisation of weather and climate data. Both libraries are actively developed in collaboration with the scientific community.
        </p>
        <div class="projects">
            <!-- biggus -->
            <div class="project">
                <div class="logo">
                    <a href="http://biggus.readthedocs.io/en/latest/">
                        <img src="images/biggus_placeholder.png" style="height:100;" alt="Placeholder biggus logo" />
                    </a>
                </div>
                <div class="summary">
                    <a href="http://biggus.readthedocs.io/en/latest/">biggus</a>
                    provides arrays of arbitrary size, with arithmetic and statistical operations, and conversion to NumPy ndarrays.
                </div>
            </div>

            <!-- cf_units -->
            <div class="project">
                <div class="logo">
                    <a href="cf_units/index.html">
                        <img src="images/cf_units_placeholder.png" style="height:100;" alt="Placeholder cf_units logo" />
                    </a>
                </div>
                <div class="summary">
                    <a href="cf_units/index.html">cf_units</a>
                    is a wrapper class to support Unidata/UCAR UDUNITS-2, and the netcdftime calendar functionality.
                    Provides units of measure.
                </div>
            </div>

            <!-- iris_grib -->
            <div class="project">
                <div class="logo">
                    <a href="https://iris-grib.readthedocs.io/en/latest/">
                        <img src="images/iris_grib_placeholder.png" style="height:100;" alt="Placeholder iris_grib logo" />
                    </a>
                </div>
                <div class="summary">
                    <a href="https://iris-grib.readthedocs.io/en/latest/">iris-grib</a>
                    is a Python package for converting between GRIB files and Iris cubes.
                </div>
            </div>
        </div>
    </div>
{% endblock %}